<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flaco_music">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.flaco_music.App"
        android:icon="@drawable/ic_headphones"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_headphones"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/Theme.FlacoMusic">

        <activity android:name="com.flaco_music.ui.screens.splash.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.flaco_music.ui.screens.MainActivity"
            android:theme="@style/Theme.FlacoMusic.NoActionBar"
            android:launchMode="singleTask">

            <nav-graph android:value="@navigation/graph" />

        </activity>

        <activity
            android:name="com.flaco_music.ui.screens.login.LoginActivity"
            android:theme="@style/Theme.FlacoMusic.NoActionBar.Login"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.flaco_music.ui.screens.options.OptionsActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.flaco_music.ui.screens.subscription.SubscriptionActivity"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="sqip.SQUARE_APPLICATION_ID"
            android:value="sandbox-sq0idb-ZCnwmKB4jDgdltgBzFqGVg" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2056309928986745~7603747297" />

        <service android:name="com.flaco_music.service.PlayerService" />

        <receiver android:name="com.flaco_music.broadcast.NotificationActionService" />

    </application>

</manifest>